.btn-primary {
    background-color: #d4a116;
    border-color: #d4a116;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary .active {
    background-color:#cf9d15 !important;
    border-color: #cf9d15 !important;
}
